@font-face {
    font-family: futura-medium;
    src: url(../material/fuentes/futura/futura\ medium\ bt.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: futura-medium;
}

/* PROPIEDADES GENERALES IN */


.negrita-promos {
    font-weight: bolder;

}

.font-underline {
    text-decoration: underline
}

main {
    background-color: black;
}

ul {
    list-style: none;
}

h1 {
    display: flex;
    margin: 0;
    height: 70px;
    background-image: url(../material/imagenes/branding_black_cow/textura\ vaca.jpg);
    background-size: 100%;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

h2 {
    margin: 0px;
}

.bg-white {
    background-color: white;
}

/* logo */
.logo img {
    width: 70px;
}

/* PROPIEDADES GENERALES OUT */



/* HEADER IN */

.flex-header {
    display: flex;
    justify-content: space-between;
}

.flex-barra-nav {
    margin: 0;
    padding: 0;
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.flex-barra-nav {
    font-size: 25px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.flex-txt-nav {
    font-size: 20px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.navbar-nav {

    align-items: center;
}

.flex-barra-emergente li img {
    width: 20px;
}

.flex-barra-emergente {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

/* HEADER OUT */





/* destacados in */

/* elementos destacados IN */

.flex-div-destacados {
    display: flex;


}



.flex-destacado img {}

/* elementos destacados out */
.container {
    width: 100vw;
    margin: 0;
   padding: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "pik-01 pik-02 pik-03 pik-04"
        "pik-05 pik-06 pik-07 pik-08";
}

.container img{
    background-color:rgb(255, 255, 255);
    padding: 2px;
}
.pik-01 {
    grid-area: pik-01;
    }
.pik-01 img{
    max-width: 25vw;
}


.pik-02 {
    grid-area: pik-02;
}
.pik-02 img{
    max-width: 25vw;
}

.pik-03 {
    grid-area: pik-03;
}
.pik-03 img{
    max-width: 25vw;
}

.pik-04 {
    grid-area: pik-04;
}
.pik-04 img{
    max-width: 25vw;
}

.pik-05 {
    grid-area: pik-05;
}
.pik-05 img{
    max-width: 25vw;
}

.pik-06 {
    grid-area: pik-06;
}
.pik-06 img{
    max-width: 25vw;
}

.pik-07 {
    grid-area: pik-07;
}
.pik-07 img{
    max-width: 25vw;
}

.pik-08 {
    grid-area: pik-08;
}
.pik-08 img{
    max-width: 25vw;
}



section div {
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: 2px;
    display: flex;
    flex-direction: column;

}

.flex-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

/* destacados out */


/* FOOTER in*/

.flex-footer {
    display: flex;
    flex-direction: column;


}

.flex-footer-elementos {
    display: flex;

    justify-content: space-between;
}

/* footer elementos in */

.TyC a {
    display: flex;
    color: black;
    text-decoration: none;

}

.flex-suscribete {
    display: flex;
    flex-direction: column;

}

.flex-suscribete a {
    color: black;
    text-decoration: none;
}


.flex-siguenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;

}

.flex-redes {
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0px;
    margin: 0px;
}

.flex-redes img {
    height: 40px;
}

/* footer elementos out */

footer p {
    color: white;
    height: 40px;
    background-color: black;

}



/* FOOTER out*/



/* RESPONSIVE */
/* elementos destacados responsive */


@media (max-width: 768px) {
.container {
    width: 100vw;
    margin: 0;
   padding: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "pik-01 pik-02"
        "pik-03 pik-04"
        "pik-05 pik-06"
        "pik-07 pik-08";
}

.container img{
    background-color:rgb(255, 255, 255);
    padding: 2px;
}
.pik-01 {
    grid-area: pik-01;
    }
.pik-01 img{
    max-width: 50vw;
}


.pik-02 {
    grid-area: pik-02;
}
.pik-02 img{
    max-width: 50vw;
}

.pik-03 {
    grid-area: pik-03;
}
.pik-03 img{
    max-width: 50vw;
}

.pik-04 {
    grid-area: pik-04;
}
.pik-04 img{
    max-width: 50vw;
}

.pik-05 {
    grid-area: pik-05;
}
.pik-05 img{
    max-width: 50vw;
}

.pik-06 {
    grid-area: pik-06;
}
.pik-06 img{
    max-width: 50vw;
}

.pik-07 {
    grid-area: pik-07;
}
.pik-07 img{
    max-width: 50vw;
}

.pik-08 {
    grid-area: pik-08;
}
.pik-08 img{
    max-width: 50vw;
}

}

@media (max-width: 375px) {
    .container {
        width: 100vw;
        margin: 0;
       padding: 0;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "pik-01"
            "pik-02"
            "pik-03"
            "pik-04"
            "pik-05"
            "pik-06"
            "pik-07"
            "pik-08";
    }
    
    .container img{
        background-color:rgb(255, 255, 255);
        padding: 2px;
    }
    .pik-01 {
        grid-area: pik-01;
        }
    .pik-01 img{
        max-width: 100vw;
    }
    
    
    .pik-02 {
        grid-area: pik-02;
    }
    .pik-02 img{
        max-width: 100vw;
    }
    
    .pik-03 {
        grid-area: pik-03;
    }
    .pik-03 img{
        max-width: 100vw;
    }
    
    .pik-04 {
        grid-area: pik-04;
    }
    .pik-04 img{
        max-width: 100vw;
    }
    
    .pik-05 {
        grid-area: pik-05;
    }
    .pik-05 img{
        max-width: 100vw;
    }
    
    .pik-06 {
        grid-area: pik-06;
    }
    .pik-06 img{
        max-width: 100vw;
    }
    
    .pik-07 {
        grid-area: pik-07;
    }
    .pik-07 img{
        max-width: 100vw;
    }
    
    .pik-08 {
        grid-area: pik-08;
    }
    .pik-08 img{
        max-width: 100vw;
    }
    
    }

/* footer responsive */
@media (max-width: 768px) {
    .flex-footer {
        display: flex;
        flex-direction: column;
    }

    .flex-footer-elementos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

}